*{
    background-color: rgb(24, 26, 27);

}

.header{
    display: flex;
    margin-bottom: 30px;
    padding:2px;
    background-color: rgb(97, 78, 22);

}

.Title{
    display: flex;
    flex: 1;
    justify-content: center;
    font-family: Arial;
    font-size: 32px;
    text-align: center;
    background-color: rgb(97, 78, 22);
    font-family: Viking-Normal;
}

.box{
    display: flex;

}

.T2{
    display: flex;
    flex: 0.5;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    font-family: Viking-Normal;
    color: white;
}

.cinder{
    display: flex;
    flex: 0.5;
    justify-content: center;

}

.center{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
    display: flex;
    flex: 0.5;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-family:Arial;
    font-size: 16px; 
    font-family: Viking-Normal;
    color: white;
    margin: 16px;
}

.text.description{

    font-size:20px;
    color:rgb(223, 180, 240);
    font-weight: bold;
}

.T2.recipes{

    color:rgba(145, 53, 145, 0.87);
    text-align: center;
}